// SPDX-License-Identifier: MIT

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/* Self-contained add-ons that rely only on base labels (&pwm, &pio) */
 / {
    chosen { stdout-path = "serial0:115200n8"; };

    fan: pwm-fan {
        compatible = "pwm-fan";
        cooling-levels = <0 80 128 255>;
        #cooling-cells = <2>;
        pwms = <&pwm 0 50000>;
        status = "okay";
    };

    gpio-leds {
        compatible = "gpio-leds";

        led_green: led-green {
            function = LED_FUNCTION_STATUS;
            color = <LED_COLOR_ID_GREEN>;
            gpios = <&pio 79 GPIO_ACTIVE_HIGH>;
            default-state = "on";
        };

        led_blue: led-blue {
            function = LED_FUNCTION_WPS;
            color = <LED_COLOR_ID_BLUE>;
            gpios = <&pio 63 GPIO_ACTIVE_HIGH>;
            default-state = "off";
        };
    };

    reg_1p8v: regulator-1p8v {
        compatible = "regulator-fixed";
        regulator-name = "fixed-1.8V";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-boot-on;
        regulator-always-on;
    };

    reg_3p3v: regulator-3p3v {
        compatible = "regulator-fixed";
        regulator-name = "fixed-3.3V";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        regulator-boot-on;
        regulator-always-on;
    };
};
