// SPDX-License-Identifier: MIT
#include <dt-bindings/interrupt-controller/arm-gic.h>

pmu {
    compatible = "arm,cortex-a73-pmu";
    interrupt-parent = <&gic>;
    interrupts = <GIC_PPI 7 IRQ_TYPE_LEVEL_LOW>;
};

timer {
    compatible = "arm,armv8-timer";
    interrupt-parent = <&gic>;
    interrupts = <GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
                 <GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
                 <GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
                 <GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>;
};

psci {
    compatible = "arm,psci-0.2";
    method = "smc";
};