CONFIG_USE_PREBOOT=y
CONFIG_SYS_LOAD_ADDR=0x46000000
CONFIG_PREBOOT="if fatload mmc 0:5 0x46000000 boot.scr; then source 0x46000000; else bootmenu; fi"
CONFIG_BOOTDELAY=-2
CONFIG_MENU=y
CONFIG_CMD_BOOTMENU=y
CONFIG_AUTOBOOT_MENU_SHOW=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_CMD_BOOTFLOW=y
CONFIG_CMD_FAT=y
CONFIG_FS_FAT=y
CONFIG_ENV_IS_IN_FAT=y
CONFIG_FAT_WRITE=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:5"
CONFIG_ENV_FAT_FILE="uboot.env"
CONFIG_ENV_SIZE=0x2000
# CONFIG_SYSRESET is not set
# CONFIG_SYSRESET_WATCHDOG is not set
